<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>69335576168-iihsba79ste3pb9blfu1e4pvmqk8b51e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69335576168-iihsba79ste3pb9blfu1e4pvmqk8b51e</string>
	<key>API_KEY</key>
	<string>AIzaSyD89o4Itgd3nRTjkcd9T2blbjP1K2pF69E</string>
	<key>GCM_SENDER_ID</key>
	<string>69335576168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avantica.mobile.EverestTours</string>
	<key>PROJECT_ID</key>
	<string>everestmitomiiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>everestmitomiiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69335576168:ios:502735c6c02d90f1</string>
	<key>DATABASE_URL</key>
	<string>https://everestmitomiiapp.firebaseio.com</string>
</dict>
</plist>